* {
  margin: 0;
  padding: 0;
  background-color: black;
}

#thumbnail-box {
  background-color: black;

  left: 50%;
  transform: translateX(-50%);

  width: clamp(200px, 40vw, 300px);

  top: 1em;

  position: absolute;
  display: flex;
  flex-direction: row;

  z-index: 1;

  overflow: auto;
}

@media screen and (max-width: 500px) {
  #thumbnail-box {
    width: clamp(300px, 30vw, 400px);
    top: auto;
    bottom: 1em;
  }
}

.thumbnail-image {
  width: 100px;
  height: 80px;
  object-fit: cover;
  margin: 2px;
  transition: 0.5s;
}

.thumbnail-image:focus-visible {
  outline: 3px solid white;
}

.thumbnail-image:hover {
  cursor: pointer;
  opacity: 0.75;
}

.large-image {
  width: 100vw;
  height: 100vh;

  object-fit: contain;

  position: fixed;
  margin: auto;
  overflow: hidden;

  z-index: 0;
}

button {
  color: white;
  border: 2px solid white;
  background-color: black;
  font-size: 2em;
  margin: 10px;
  padding: 10px;

  border-radius: 0.5;

  z-index: 2;
}

button:hover {
  cursor: pointer;
  background-color: rgb(126, 126, 126);
}

#next-image {
  position: absolute;
  display: block;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

#previous-image {
  position: absolute;
  display: block;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}
