* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

#thumbnail-box {
  width: 312px;

  margin: auto;
}

.thumbnail-image {
  width: 100px;
  height: 80px;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 0 2px;
}
